* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body{
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.photo {
    gap: 5px;
    height: 100%;
    width: 70%;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
        'photo1 photo2 photo3 photo3'
        'photo1 photo5 photo6 photo7'
        'photo4 photo5 photo8 photo8';
}

.img{
    background-size: cover;
    background-position: center;
}

.photo1 {
    grid-area: photo1;
    background-image: url('https://images.pexels.com/photos/3687770/pexels-photo-3687770.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.photo2 {
    grid-area: photo2;
    background-image: url("https://images.pexels.com/photos/3361739/pexels-photo-3361739.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

.photo3 {
    grid-area: photo3;
    background-image: url("https://images.pexels.com/photos/3671300/pexels-photo-3671300.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

.photo4 {
    grid-area: photo4;
    background-image: url("https://images.pexels.com/photos/7210748/pexels-photo-7210748.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

.photo5 {
    grid-area: photo5;
    background-image: url("https://images.pexels.com/photos/2774140/pexels-photo-2774140.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

.photo6 {
    grid-area: photo6;
    background-image: url("https://images.pexels.com/photos/15347387/pexels-photo-15347387.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

.photo7 {
    grid-area: photo7;
    background-image: url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

.photo8 {
    grid-area: photo8;
    background-image: url("https://images.pexels.com/photos/14666143/pexels-photo-14666143.jpeg?auto=compress&cs=tinysrgb&w=1600");
}