h1{
    text-align: center;
}

.content-flex{
    display: flex;
    justify-content: center;
}

th{
    background-color: aqua;
}

td{
    text-align: center;
    border:  dotted;
    border-width: 1px;
}
.encabezado{
    border-collapse: collapse;
}

tr:hover{
    background-color: aquamarine;
    cursor: cell;
}