header{
    background-color: rgb(222, 248, 248);
    border: snow cornflowerblue;    
    border-radius: 5px;
       
}

#clientes{
    text-align: center;
    color: blue;
    background-color: white;
    border-radius: 5px;
}
body{
    background: rgb(218, 218, 242);
}

 

.flex-container{
    padding: 1px;
    display: flex;
    width: 900px;
    height: 250px;
    background-color: white;
    border-radius: 7px;

}

.caja{
    padding: 5%;
}

#buttom{
    align:left;
}

#caja2{
    border-right: 2px solid rgb(218, 218, 244);
}

html{
    cursor:pointer;

}


