
*{
    padding: 0px;
    margin: opx;
    box-sizing: border-box;
}

body{
    background-color: lightcyan;
    width: 650px;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

div{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    background-color: lightblue;
    border-radius: 7px;
    
}

div:hover{
    background-color: lightcoral;
}

.marca{
    color:black;
    font-size: 80px;
    text-align: center;
    padding: 0;
}